# Eclipse stuff
/.classpath
/.project
/.settings

# NetBeans
/nbproject

# IntelliJ stuff
/*.eml
/*.iml

# vim
.*.sw[a-p]

# various other potential build files
/build
/bin
/dist
/*.jardesc

# Mac filesystem dust
.DS_Store